.lmj-cart {
	color: white;
	background-color: #066c39;
	padding: 32px;
}

.btn {
  cursor: pointer;
  background-color: #237600;
  border: 1px solid #103500;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}
